// !$*UTF8*$!
{
        build = SmartcardCCID;
        inherits = 9J61;
        projects = {
		SmartcardCCID = {
			dependencies = {
				build = (
					CF,
					CarbonHeaders,
					CoreOSMakefiles,
					Csu,
					IOKitUser,
					IOUSBFamily,
					Libc_headers,
					Libm,
					Libsyscall,
					Libsystem,
					OpenSSL,
					PowerManagement,
					Security,
					SystemStubs,
					adv_cmds,
					architecture,
					basic_cmds,
					bootstrap_cmds,
					cctools,
					developer_cmds,
					dyld,
					file_cmds,
					files,
					flex,
					gcc,
					gcc_42,
					gnumake,
					launchd_libs,
					ld64,
					libgcc,
					libiconv,
					libsecurityd,
					libsecurity_cdsa_client,
					libsecurity_cdsa_utilities,
					libsecurity_cssm,
					libsecurity_utilities,
					libstdcxx,
					misc_cmds,
					ncurses,
					perl,
					shell_cmds,
					system_cmds,
					text_cmds,
					xnu,
				);
			};
			version = 1;
		};
	};
}

