<plist version="1.0">
<array>
<dict>
	<key>OpenSourceProject</key>
	<string>libusb</string>
	<key>OpenSourceVersion</key>
	<string>0.1.13b</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://www.ellert.se/twain-sane/</string>
	<key>OpenSourceURL</key>
	<string>http://www.ellert.se/PKGS/libusb-2008-02-02/src/libusb-2008-02-02-svn-macosx.tar.gz</string>
	<key>OpenSourceImportDate</key>
	<string>2008-07-22</string>
	<key>OpenSourceModifications</key>
	<array>
	</array>
	<key>OpenSourceLicense</key>
	<string>unknown</string>
	<key>OpenSourceLicenseFile</key>
	<string>libusb.txt</string>
</dict>
</array>
</plist>
