	PRODUCT_NAME = 	tokendPKCS11;
	INSTALL_PATH = /usr/libexec/SmartCardServices/pkcs11;
	MACH_O_TYPE = mh_bundle;
	DYLIB_COMPATIBILITY_VERSION = ;
	DYLIB_CURRENT_VERSION = ;
	GCC_PRECOMPILE_PREFIX_HEADER = YES;
	GCC_PREFIX_HEADER = TokendPKCS11_Prefix.pch;
	GCC_ENABLE_CPP_EXCEPTIONS = YES;
	GCC_ENABLE_CPP_RTTI = YES;
	STANDARD_C_PLUS_PLUS_LIBRARY_TYPE = Dynamic;
	GCC_SYMBOLS_PRIVATE_EXTERN = YES;
	WRAPPER_EXTENSION = so;
