<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BELPIC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>CAC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>CACNG.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>MuscleCard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>PIV.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>libtokend.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>tokend.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>world.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>520388F512B802BF007C4317</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B2601F0BC5A864007E00F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B2602D0BC5A864007E00F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B2604B0BC5A864007E00F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B260640BC5A864007E00F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B2607D0BC5A864007E00F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B260980BC5A864007E00F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B260BA0BC5A864007E00F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
